<% @data.each do |datum| %>
  <p>
    <%= datum.klass %> <br>
    <%= datum.date.strftime('%B %d, %Y') %> <br>
    <%= datum.foreign_id %> <br>
    <%= link_to 'Show', datum.link %> <br>
  </p>
  <hr>
<% end %>