<% @sales.each do |sale| %>
  <p>
    <%= render partial: 'sale', locals: {sale: sale} %>
    <%= link_to 'Edit', edit_sale_path(sale) %> |
    <%= link_to 'Destroy',  { action: :destroy, id: sale.id }, method: :delete %>
  </p>
  <hr>
<% end %>